$main-font: 'Lato', sans-serif;
//$third-font: 'Damion', cursive;
//$fourth-font: 'Damion', cursive;

$main-color: #fff;
$top-color: #74C7D5;
//$second-color:;
//$third-color:;
//$fourth-color:;
//$fifth-color:;
//$sixth-color:;

